<div>
    <button class="btn" data-bind="click: startUpPrinter, visible: !state.printer">Start up Printer</button>
    <button class="btn" data-bind="click: shutDownPrinter, visible: state.printer">Shut dowm Printer</button></div>