<div>
  <h1>Printer Control</h1>
  <table class="printerControl">
    <tr>
      <td>
        <button class="btn" data-bind="click: startUpPrinter, visible: !state.printer()">{{ _('Start up Printer') }}</button>
        <button class="btn" data-bind="click: shutDownPrinter, visible: (state.printer() && (!state.cooldown()))">{{ _('Shut Down Printer') }}</button>
        <button class="btn" data-bind="click: cancelShutDown, visible: (state.printer() && state.cooldown())">{{ _('Cancel Shut Down') }}</button></td>
      <td>
        <a class="button" data-bind="click: toggleLight"><i class="fas fa-lightbulb fa-2x" data-bind="css: { toggleOn: state.light, toggleOff: !state.light }"></i>
        <br/>{{ _('Lights') }}</td>   
      <td>
        <i class="fas fa-print fa-2x" 
          data-bind="css: { toggleOn:  (state.printer() && !state.cooldown() && !state.connected()), 
                            coolDown:  (state.printer() &&  state.cooldown()),
                            connected: (state.printer() && !state.cooldown() &&  state.connected()), 
                            toggleOff: !state.printer }"></i>
        <br/>{{ _('Printer') }}
      </td>
    </tr>
  </table>
</div>
<div data-bind="hidden: state.printInProgress">
  <h1>
    Autoprinting
  </h1>
  <div class="form-horizontal">
    <div class="control-group">
      <label class="control-label">{{ _('Print from Folder') }}</label>
      <div class="controls">
        <div class="input">
          <select data-bind="options: list.folder, optionsCaption: '', value: setFolder"></select>
          &nbsp;  
          <a class="button" data-bind="click: updateFolderList"><i class="fas fa-sync fa-1x"></i></a>   
        </div>
      </div>
      <label class="control-label">{{ _('File to print')}}
      </label>
      <div class="controls">
        <div class="input">
          <select data-bind="options: list.file, optionsCaption: '', value: autoprint.file">
          </select>
          &nbsp;  
          <a class="button" data-bind="click: updateFiles"><i class="fas fa-sync fa-1x"></i></a>   
        </div> 
        <div id="file_error" class="alert-box alert alert-error" data-bind="visible: errormsgs.file">
          <p>
            <b>Error:</b> <span data-bind="text: errormsgs.file"></span>
          </p>
        </div>
      </div>
    </div>
    <div class="control-group">
    </div>
    <div class="control-group">
      <label class="control-label">{{ _('Print should ... ') }}
      </label>
      <div class="controls radio">
        <input type="radio" name="startFinish" value="asap" id="startFinish-start" data-bind="checked: autoprint.startFinish"/>
        <label for="startFinish-start">{{ _('start immediately')}}</i></label>
        <input type="radio" name="startFinish" value="start" id="startFinish-start" data-bind="checked: autoprint.startFinish"/>
        <label for="startFinish-start">{{ _('start at ...')}}</i></label>
        <input type="radio" name="startFinish" value="finish" id="startFinish-end" data-bind="checked: autoprint.startFinish"/>
        <label for="startFinish-end">{{ _('finish at')}} ...</label>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="datetime-local" id="timerTime" data-bind="value: timeDisplay, visible: ('asap' != autoprint.startFinish())"/>
        <div id="timerTime_error" class="alert-box alert alert-error" data-bind="visible: errormsgs.time">
          <p>
            <b>Error:</b> <span data-bind="text: errormsgs.time"></span>
          </p>
        </div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">{{ _('Turn off printer after job') }}
      </label>
      <div class="controls">
        <input type="checkbox" data-bind="checked: autoprint.turnOffAfterPrint" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">{{ _('Turn lights on at start') }}
      </label>
      <div class="controls">
        <input type="checkbox" data-bind="checked: autoprint.startWithLights" />
      </div>
    </div>
    <div class="controll-group">
      <div class="controls">
        <button class="btn" data-bind="click: scheduleJob">{{ _('Schedule Print Job')}}</button>
      </div>
    </div>
  </div>
</div>
<div data-bind="visible: state.printInProgress">
 <div class="alert alert-block">
        <p>
            Note: Print is in progress, no autoscheduling possible during printing.</p>
  </div>
</div>
<div data-bind="visible: scheduledJob.file" class="alert-box alert alert-success scheduledjob">
  <p>
    <b><span data-bind="if: state.printInProgress">Selected</span>
        <span data-bind="ifnot: state.printInProgress">Scheduled</span> Job</b>
  </p>
  <table>
    <tr>
      <td>Printjob File</td>
      <td><span data-bind="text: scheduledJob.file"/></td>
    </tr>
    <tr>
      <td>Starting at</td>
      <td><span data-bind="text: (new Date(scheduledJob.startTime())).toLocaleString()"/></td>
    </tr>
      <tr>
      <td>Turn off printer when done</td>
      <td><span data-bind="text: scheduledJob.turnOffAfterPrint() ? 'yes' : 'no'"/></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button class="btn" data-bind="hidden: state.printInProgress, click: cancelJob">{{ _('Cancel Print Job')}}</button>
      </td>
    </tr>
  </table>
</div>