 <a class="button" data-bind="click: toggleLight" >
    <i class="fas fa-lightbulb fa-1x " data-bind="css: { toggleOn: state.light, toggleOff: !state.light }"></i>
    <span id="autoprint_light_navbar" data-bind="text: state.light() ? 'Turn lights off' : 'Turn lights on'"></span></a> 

